<div id="navBar">
<ul>
     <li><a class= "home_nav" href="/home"  style="background-color: green;">Home</a></li>
     <li><a class= "serach_nav" href="/search">Food & Recipes</a></li>
     <li><a class= "user_nav" href="/user">Account Settings</a></li>
     <li><form action="/home" method="POST"> <input type="submit" name="log_out" value="Log Out"> </form>  </li>
     
</ul>
</div>

<h2 align="center">Welcome back, {{first_name}}!</h2>

<h3 align="center">Want to add more recipes to your plan?</h3>
<form align="center" action="/search">
	<input type="submit" value="Search for more recipes!">
</form>
</div>

<h2 align="center">Your diet selections...</h2>
	<table align="center">
		<thead>
			<th>No Meat</th>
			<th>No Dairy</th>
			<th>No Nuts</th>
			<th>No Shellfish</th>
			<th>No Carbs</th>
			<th>No Animal Products</th>
			<th>No Gluten</th>
			<th>No Soy</th>  
		</thead> 

		<tbody>
			{{#each diet}}
			<tr>
				<td>{{diet_no_meat}}</td>
				<td>{{diet_no_dairy}}</td>
				<td>{{diet_no_nuts}}</td>
				<td>{{diet_no_shellfish}}</td>
				<td>{{diet_no_carbs}}</td>
				<td>{{diet_no_animal_products}}</td>
				<td>{{diet_no_gluten}}</td>
				<td>{{diet_no_soy}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

<br>
<br>

<h2 align="center">Your recipes...</h2>

	<table align="center">
		<thead>
			<th>Recipe Name</th>
		</thead>

		<tbody>
			{{#each recipes}}
			<tr>
				<td>{{recipe_name}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>