<form action="/home" method="GET">
	<input type="submit" value="Home">
</form>
<form action="/search" method="GET">
	<input type="submit" value="Search">
</form>
<form action="/user" method="GET">
	<input type="submit" value="Account Settings">
</form>
<form action="/home" method="POST">
	<input type="submit" name="log_out" value="Log Out">
</form>
		
<h2 align="center">User Settings</h2>
<form id="update_info" align="center" action="/user" method="post">
	<label> First Name: <input name="first_name" type="text" value="{{first_name}}"></label><br>
	<label> Last Name: <input name="last_name" type="text" value="{{last_name}}"></label><br>
	<label> Birth Date: <input name="birth_date" type="date" value="{{birth_date}}"></label><br>
	<label> Max Calories per Day: <input name="max_calories" type="number" value="{{max_calories}}"></label><br>
	<label> Email Address: <input name="email_address" type="email" value="{{email_address}}"></label><br>			
	<label> Password: <input name="password" type="password" value="{{password}}"></label><br>
	
	Dietary Preferences:<br>
	<label> No Meat <input name="no_meat" value="1" type="checkbox"></label><br>	
	
	<label> No Dairy <input name="no_dairy" value="1" type="checkbox"></label><br>
	
	<label> No Nuts <input name="no_nuts" value="1" type="checkbox"></label><br>	
	
	<label> No Shellfish <input name="no_shellfish" value="1" type="checkbox"></label><br>
	
	<label> No Carbs <input name="no_carbs" value="1" type="checkbox"></label><br>	
	
	<label> No Animal Products <input name="no_animal_products" value="1" type="checkbox"></label><br>
	
	<label> No Gluten <input name="no_gluten" value="1" type="checkbox"></label><br>	
	
	<label> No Soy <input name="no_soy" value="1" type="checkbox"></label><br>
	
	<input type="submit" name="update" value="Update Account" >
</form>

<form id="delete_info" align="center" action="/user" method="post">
	<input type="submit" name="delete" value="Delete Account">
</form >